body{
margin-left: 3%;
}


.title {
  text-align: center;
  color: forestgreen;
}

.deets {
  text-decoration: underline;
  color: rgba(148, 10, 10, 0.923);
}

.content {
  font-size: large;
}

.images {
  display: flex;
  justify-content: space-around;
}

.images img{
    height: 200px;

}



